/ConsoleAppCour27-09/.vs
/ConsoleAppCour27-09/ConsoleAppCour27-09/Debug
/ConsoleAppCour27-09/Debug

/ConsoleAppCour04-10/.vs
/ConsoleAppCour04-10/ConsoleAppCour27-09/Debug
/ConsoleAppCour04-10/Debug

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
