/ConsoleAppCour27-09/.vs
/ConsoleAppCour27-09/ConsoleAppCour27-09/Debug
/ConsoleAppCour27-09/Debug

/ConsoleAppCour04-10/.vs
/ConsoleAppCour04-10/ConsoleAppCour27-09/Debug
/ConsoleAppCour04-10/Debug

/ConsoleAppCour3/.vs
/ConsoleAppCour3/ConsoleAppCour27-09/Debug
/ConsoleAppCour3/Debug

/ConsoleAppCour4/.vs
/ConsoleAppCour4/ConsoleAppCour27-09/Debug
/ConsoleAppCour4/Debug

/Cour4 10-11/.vs
/Cour4 10-11/Debug
/Cour4 10-11/x64/Debug


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
